<div id="nav-mobile"class="nav flex-column">
    <li class="nav-item" id="github">
        <a target="_blank" class="nav-link" href="https://github.com/leahad">
            <img class="color-filter"src="{{ asset('build/images/github.svg') }}" alt="github"/>
        </a>
    </li>
    <li class="nav-item" id="linkedin">
        <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/leahadida/">
            <img class="color-filter" src="{{ asset('build/images/linkedin.svg') }}" alt="linkdein"/>
        </a>
    </li>
    <li class="nav-item">
        <a target="_blank" class="nav-link" href="/build/images/CV_Lea_Hadida.pdf">
            <img id="cvLH" class="color-filter mt-1" src="{{ asset('build/images/CV-picto.svg') }}" alt="linkdein"/>
        </a>
        {% include 'header/_modalResume.html.twig' %}
    </li>
</div>