<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <h3>Message de
			{{ contact.fullName }}</h3>
		<p>Email :
			{{ contact.email }}</p>
		<p>Sujet :
			{{ contact.subject }}</p>
		<p>Message :</p>
		<div>
			{{ contact.message }}
		</div>
</body>
</html>