{% extends 'base.html.twig' %}

{% block body %}
    {% include 'home/section/_header.html.twig'%}
    <div class="container">
        <div>
            {{ github_contributions }} contributions Github depuis mars 2023 
        </div>
        {# <img src="https://ghchart.rshah.org/leahad" alt="Name Your Github chart"> #}
        {# <a href="https://www.flaticon.com/free-icons/fortune-cookie" title="fortune cookie icons">Fortune cookie icons created by amonrat rungreangfangsai - Flaticon</a> #}
        <div>
            fortune cookie: "{{ fortune_cookie }}"
        </div>
        <div class="container">
            <div class="row justify-content-center">
                {% for project in projects %} 
                    {% include 'home/section/_projectCard.html.twig'%}
                {% endfor %}
	        </div>
        {% include 'home/section/_contactForm.html.twig'%}
{% endblock %}
