{% extends 'base.html.twig' %}

{% block title %}Léa Hadida{% endblock %}

{% block body %}
    {% include 'home/section/_header.html.twig'%}
    <div class="container">
        <div>
            {{ github_contributions }} contributions Github depuis mars 2023 
        </div>
        {# <img src="https://ghchart.rshah.org/leahad" alt="Name Your Github chart"> #}
        {# <a href="https://www.flaticon.com/free-icons/fortune-cookie" title="fortune cookie icons">Fortune cookie icons created by amonrat rungreangfangsai - Flaticon</a> #}
        <div>
            fortune cookie: "{{ fortune_cookie }}"
        </div>
	</div>
    {# {% include 'home/section/_contact.html.twig'%} #}
{% endblock %}
