{% extends 'base.html.twig' %}

{% block body %}
    {% include 'home/section/_header.html.twig'%}
    <div class="up">
        <div class="container mt-4">
            {# <img src="https://ghchart.rshah.org/leahad" alt="Name Your Github chart"> #}
            {# <a href="https://www.flaticon.com/free-icons/fortune-cookie" title="fortune cookie icons">Fortune cookie icons created by amonrat rungreangfangsai - Flaticon</a> #}
            <div class="text-center mt-4">
                <div class="col-6 align-self-start">
                    <p><strong>{{ github_contributions }}</strong> contributions Github depuis mars 2023</p> 
                </div>
            </div>
            <div class="d-flex justify-content-end">
                {% include 'home/section/_SearchSkills.html.twig'%}
            </div>
            <div class="margin">
                <div class="row row-cols-1 row-cols-md-2 g-3">
                    {% for project in projects %}
                        {% include 'home/section/_projectCard.html.twig'%}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="contact-form" class="mb-5" style="width:30rem;">
            {% include 'home/section/_contactForm.html.twig'%}
        </div>
        <h6 class="text-center mb-5">Un cookie pour la route ?</h6>
        <div id="fortune-cookie" class="d-flex justify-content-center mb-5">
            <img src="{{ asset('build/images/fortune-cookies.png') }}" alt="fortune-cookie"/>
            <div class="tooltip p-3">
                <p class="text-center fst-italic">{{ fortune_cookie }}</p>
            </div>
        </div>
    </div>
{% endblock %}
