<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

    <h5 class="mt-5 text-center">Contactez moi</h5>
    {{ include('component/_form.html.twig', {'button_label': 'Envoyer'}) }}
</div>