<div id="header" class="p-4">
    <div class="text-center">
        <h1 class=" mt-4 mb-4">Hello</h1>
        <h3> Je suis Léa Hadida</h3> 
        <h3>Développeuse Full Stack</h3>
        <p class="mt-4">Parce qu'un repo vaut mille mots, découvrez mes réalisations ci-dessous</p>
        <button class="btn btn-success" type="submit">mes projets</button>
    </div>
{% include 'component/_verticalNavbar.html.twig'%}
</div>
