<div id="header">
    <div class="text-center">
        <div class="row">
            <div class="col-3 align-self-start">
                <img class="quote-left" src="{{ asset('build/images/quoteopen.png') }}" alt="quote"/>
            </div>
            <div class="down col-6 align-self-center" id="intro">
                <h2 class="mb-4">Hello👋</h2>
                <h2>Je suis Léa Hadida</h2>
                <h2>Développeuse Full Stack</h2>
                <h3 class="mt-5" id="atouts">Mes atouts</h3>
                <h5>Communication et gestion de projets</h5>
                <h5>Organisation</h5>
                <h5>Créativité</h5>
                <h5>Esprit d'équipe</h5>
                <button class="btn btn-info mt-5 mb-4" type="submit">mes projets</button>
            </div>
            <div class="col-3 align-self-end">
                <img class="quote-right" src="{{ asset('build/images/quoteclose.png') }}" alt="quote"/>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <img class="right-form" src="{{ asset('build/images/form2.png') }}" alt="form"/>
        </div>
        <div class="d-flex justify-content-start">
            <img class="left-form" src="{{ asset('build/images/form1.png') }}" alt="form"/>
        </div>
        {% include 'component/_aboutMe.html.twig'%}
    </div>
</div>

