<div class="modal fade" id="cv" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Voilà mon CV 🤓</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>  
            <div class="modal-body">
                <embed src="build/images/CV_Lea_Hadida.pdf" frameborder="0" width="100%" height="400vh"></embed>
            </div>
        </div>
    </div>
</div>