@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$primary: #CBDDD1;
$secondary: #CDC2FE;
$green: #004B35;

$font-family-base:'Montserrat', sans-serif;
$body-bg: $primary;

$input-border-color: $green;
$link-decoration:none;

#header {
    background-color: $secondary;
    color:#2f05eaa6;
    height:22rem;
}

//admin form
.margin {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    padding: 1.5rem;
}

.dropzone-placeholder,
.dropzone-preview-filename,
.dropzone-preview-button::before {
    color: $green;
}

.dropzone-container {
    border: 2px dashed $green;
    justify-content: center;
    min-height: 195px;
}

.dropzone-preview-image,
.dropzone-preview-image {
    min-width: 130px;
    height: 130px;
}

@import "~bootstrap/scss/bootstrap";

