@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$primary: #CBDDD1;
$secondary: #CDC2FE;
$green: #004B35;
$info: #394188;

$font-family-base:'Montserrat', sans-serif;
$body-bg: $primary;
$card-border-width: 0;
$card-inner-border-radius: 0;
$link-color: $green;

$input-border-color: $green;
$link-decoration:none;

ul {
    list-style-type: none
}

//header
#header {
    background-color: $secondary;
    color:#2f05eaa6;
    height:38rem;
    padding-top: 3rem;
}

#header img.quote-left {
    position: absolute;
    height: 1.5em;
    margin-left: -9.35em;
    font-size: 2em;
}

#header img.quote-right {
    position: absolute;
    height: 1.5em;
    font-size: 2em;
    margin-right: 12em;
    margin-top: -1.2em;
}

#header li {
    font-size: 19px;
}

//project cards
.clickable-card {
    // border-radius: 10px;
    overflow: hidden;
    box-shadow: none;
    transform-origin: center center;
    transition: all 0.4s ease-in-out;
    color: black;
}

.clickable-card h6,
.clickable-card .read-more {
    transition: color 0.4s ease-in-out;
}

.clickable-card img {
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.clickable-card:hover h6,
.clickable-card:focus h6 {
    color: $green;
}

.clickable-card:hover img,
.clickable-card:focus img {
    transform: scale(1.1);
}

#fortune-cookie img {
    width: 5%;
}

#contact-form {
    margin: 0 auto;
}

//admin form
.margin {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    padding: 1.5rem;
}

.dropzone-placeholder,
.dropzone-preview-filename,
.dropzone-preview-button::before {
    color: $green;
}

.dropzone-container {
    border: 2px dashed $green;
    justify-content: center;
    min-height: 195px;
}

.dropzone-preview-image,
.dropzone-preview-image {
    min-width: 130px;
    height: 130px;
}

@import "~bootstrap/scss/bootstrap";

